{% extends 'landing/base.html' %}
{% load static %}
{% load template_filters %}
{% block logo %}
    <a href="{% url 'home' %}">
        <div class="s-logo1">
            <img src="{% static 'images/logo4.png' %}" alt="">
        </div>
    </a>
{% endblock %}
{% block content %}
    <div class="profbody">
        <div class="p-body" style="display: inline-flex; margin-left: 10%;">
            <div class="p-panel">
                <h4>Мой аккаунт</h4>
                <div class="panel1" style="margin-left: 5%;">
                    <a href="{% url 'profile' %}"><p>Информация о
                        аккаунте</p></a>
                    <a href="{% url 'wishlist' %}"><p>
                        Избранное</p></a>
                    <a href="{% url 'addresses' %}"><p style="border-bottom: 4px solid; border-color: #FB0;">Мои
                        адреса</p></a>
{#                    <a href="{% url 'orders' %}"><p>История заказов</p></a>#}
                    {#                    <a href="promo.html"><p>Ввести промо-код</p></a>#}
                    <a href="{% url 'help' %}"><p>Связь с тех.службой</p></a>
                </div>
            </div>
            <div class="p-form adr-list">

                <div class="pf-1">
                    {#                    <h5>Дом:</h5>#}
                    <div id="addresses_list">
                        {% for address in request.user.address.all %}
                            <div>
                                <div style="display: inline-flex;">

                                    <input type="text" class="homeadr" id="address"
                                           value="{{ address.address_name }} {{ address.number_house.number_house }}, кв{{ address.number_apartment }}"
                                           disabled>
                                    {#                                    <button onclick="editAddress({{ address.id }})" class="adr-edit"> Изменить</button>#}
                                    <form action="{% url 'addresses' %}" method="post">
                                        {% csrf_token %}
                                        <input type="text" name="type" value="delete" style="display: none">
                                        <input type="text" name="address_id" value="{{ address.id }}"
                                               style="display:none;">
                                        <button type="submit" class="adr-edit" style="margin-left: 5px">Удалить</button>
                                    </form>
                                </div>

                            </div>

                            <br>
                        {% endfor %}
                    </div>

                    {% for address in request.user.address.all %}

                        <form action="{% url 'addresses' %}" method="post" style="display: none; "
                              id="form_edit_address{{ address.id }}">
                            {% csrf_token %}
                            <div style="display: inline-flex">
                                <input type="text" value="{{ address.id }}" style="display: none" name="address_id">
                                <input type="text" name="type" value="edit" style="display: none">
                                <input type="text" class="homeadr" placeholder="адрес"
                                       value="{{ address.address_name }}"
                                       name="address_name">

                                <input type="text" class="homeadr" placeholder="дом"
                                       value="{{ address.number_house }}"
                                       name="address_number_house" style="margin-left: 5px !important; width: 70px">

                                <input type="number" class="homeadr" placeholder="кв"
                                       value="{{ address.number_apartment }}"
                                       name="address_number_apartment" style="margin-left: 5px !important; width: 70px">
                            </div>
                            <br>
                            <br>
                            <button type="submit" class="adr-edit" name="save" value="save">Сохранить</button>
                            {#                            <button onclick="editAddress()" class="adr-edit">Отмена</button>#}
                            <a href="{% url 'addresses' %}" type="button" class="adr-edit"
                               style="color: black">Отмена</a>
                        </form>



                    {% endfor %}
                    <form action="{% url 'addresses' %}" method="post" style="display: none; margin-left: 8px; margin-top: -3px"
                          id="new_address_form">
                        {% csrf_token %}
                        <div style="display: inline-flex">
                            <input type="text" name="type" value="add" style="display: none">
                            <select name="street" id="street_list" class="homeadr" style="width: 200px" required>
                                <option disabled selected value="none">Улица</option>
                                {% for street in streets %}
                                    <option value="{{ street.id }}" class="homeadr">{{ street }}</option>
                                {% endfor %}

                            </select>

                            <select name="house" id="response" class="homeadr" style="width: 70px;" required>
                                <option disabled selected value="none">Дом</option>
                            </select>
                            <input type="number" class="homeadr" placeholder="кв" name="address_number_apartment"
                                   style="margin-left: 5px !important; width: 70px" required>
                        </div>
                        <br>
                        <br>
                        <button type="submit" class="adr-edit" name="save" value="save">Добавить</button>
                        {#                        <button type="button" onClick="editAddress()" class="adr-edit">Отмена</button>#}
                        <a href="{% url 'addresses' %}" type="button" class="adr-edit" style="color: black">Отмена</a>

                    </form>
                    <div class="addloc" style="display: none;">
                        <input type="text" class="homeadr"> <br>
                        <button class="adr-edit" style="margin-left: 7%; margin-top: 2%;">Добавить</button>
                        <button class="adr-edit">Указать на карте</button>
                    </div>

                    <button class="adr-edit other" id="btn_add_address" onclick="newAddressForm()">Добавить другой
                        адрес
                    </button>
                </div>
            </div>

        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        $(function () {

            $('#street_list').click(function () {
                $.ajax({
                    type: "GET",
                    url: "/addresses/",
                    data: {
                        'street': $('#street_list').val(),
                        {#'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val()#}
                    },
                    success: addressListSuccess,
                    dataType: 'html'

                });
            });
        });

        function addressListSuccess(data, textStatus, jqXHR) {
            console.log(data);
            $('#response').html(data)
        }
    </script>
    <script>
        function editAddress(id) {
            console.log('asd');
            addressesList = document.getElementById('addresses_list');
            addressForm = document.getElementById('form_edit_address' + id);
            btn = document.getElementById('btn_add_address');
            if (addressForm.style.display == 'none') {
                addressesList.style.display = 'none';
                addressForm.style.display = 'block';
                btn.style.display = 'none';
            } else {
                addressForm.style.display = 'none';
                addressesList.style.display = 'block';
                btn.style.display = 'block';
            }

        }

        function newAddressForm() {
            addressForm = document.getElementById('new_address_form');
            btn = document.getElementById('btn_add_address');
            addressesList = document.getElementById('addresses_list');
            if (addressForm.style.display == 'none') {
                addressForm.style.display = 'block';
                btn.style.display = 'none';
                addressesList.style.display = 'none';
            } else {
                addressForm.style.display = 'none';
                btn.style.display = 'block';
                addressesList.style.display = 'block';
            }
        }
    </script>
{% endblock %}