<!DOCTYPE html>
<html lang="ru-RU">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Jetkizu.me | Доставим всё!</title>
<link rel="shortcut icon" type="image/png" href="img/favicon.png">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="media.css">
<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
</head>

<header class="searchheader" style="display: inline-flex; background: #fff; width: 100%; border-bottom: 1px solid; border-color: #c4c4c4;">

<a href="index.html">
<div class="s-logo1 prof">
<img src="img/logo3.png" alt="">
</div></a>
<div class="log-block1 profp">
<a href="" class="login1">Войти</a>
<a href="" class="reg1">Регистрация</a>
</div>
<div class="navbar1" style="display: none;">
<nav class="navbar navbar2 navbar-expand-lg navbar-light bg-light" style="background: #FB0 !important;">

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto">
<li class="nav-item active">
<a class="nav-link" href="#">Выйти <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item active">
<a class="nav-link" href="#">Главная</a>
</li>
<li class="nav-item active">
<a class="nav-link" href="#">Корзина</a>
</li>
</ul>
</div>
</nav>
</div>
<div class="login-block">
	<a href="" style="text-decoration: none; color: #666; display: inline-flex;"><i class="fa fa-user" aria-hidden="true"></i>
	<p style="padding-left: 5px; font-size: 18px;">Али Ембергенов</p></a>
	<div>
	<a href="" class="logout" style="font-size: 18px; margin-left: 15px; padding: 5px; border: 1px solid; border-radius: 3px; text-decoration: none; color: #000;">Выйти</a>
	</div>
</div>
<a href="#" class="s-cart prof1" style="margin-top: 2%; color: #000; display: none;"><i class="fa fa-shopping-cart" aria-hidden="true" style="font-size: 35px;"></i></a>

</header>
<body style="background: none;">

<div class="profbody">
	<div class="p-body" style="display: inline-flex; margin-left: 10%;">
	<div class="p-panel">
		<h4>Мой аккаунт</h4>
		<div class="panel1" style="margin-left: 5%;">
		<a href="profile.html"><p>Информация о аккаунте</p></a>
		<a href="wishes.html"><p>Избранное</p></a>
		<a href="adres-list.html"><p style="border-bottom: 4px solid; border-color: #FB0;">Мои адреса</p></a>
		<a href="history.html"><p>История заказов</p></a>
		<a href="promo.html"><p>Ввести промо-код</p></a>
		<a href="help.html"><p>Связь с тех.службой</p></a>
		</div>
	</div>

	<div class="p-form adr-list">
		<div class="pf-1">
			<h5>Дом:</h5>
			<div style="display: inline-flex;">
			<input type="text" class="homeadr" value="Хантау 33" disabled=""> <button class="adr-edit">Изменить</button><button class="adr-edit">Удалить</button>
			</div>

			<h5 style="margin-top: 2%;">Работа</h5>
			<div style="display: inline-flex;">
			<input type="text" class="homeadr" value="Аль-Фараби 19к2Б, офис:1002" disabled=""> <button class="adr-edit">Изменить</button><button class="adr-edit">Удалить</button>
			</div>

			<div class="addloc" style="display: none;">
				<input type="text" class="homeadr">	<br>
				<button class="adr-edit" style="margin-left: 7%; margin-top: 2%;">Добавить</button><button class="adr-edit">Указать на карте</button>
			</div>

			<button class="adr-edit other">Добавить другой адрес</button>
		</div>
	</div>
 </div>
</div>



</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</html>