{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <form class="form-signin" action="{% url 'account_change_password' %}" method="post">
        <p class="text-center btn-lg"> <a style="text-decoration: none" href="{% url 'home' %}">Главная</a></p>
        <h2 class="form-signin-heading text-center">Изменить пароль</h2>
        <br>
        {% csrf_token %}
        {{ form.as_p }}

        <button class="btn btn-lg btn-primary btn-block" type="submit">Изменить пароль</button>

    </form>
{#    <h4><a href="{% url 'home' %}">Главная</a></h4>#}
{#    <h1>{% trans "Change Password" %}</h1>#}
{#    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">#}
{#        {% csrf_token %}#}
{#        {{ form.as_p }}#}
{#        <button type="submit" name="action" class="btn btn-primary">{% trans "Change Password" %}</button>#}
{#    </form>#}
{% endblock %}
