{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Сброс пароля" %}{% endblock %}

{% block content %}
    <form class="form-signin" action="{% url 'reset_password' %}" method="post" onsubmit="return resetPassword(this);">



        <p class="text-center btn-lg"><a style="text-decoration: none" href="{% url 'home' %}">Главная</a></p>
        <h2 class="form-signin-heading text-center">Сброс пароля</h2>
        <br>
        <div id="errors"></div>
        <p id="text-info">Забыли пароль? Введите свой номер телефона, и мы вышлем вам новый пароль.</p>
        {% csrf_token %}
        {{ form.as_p }}

        <button class="btn btn-lg btn-primary btn-block" type="submit">Сбросить пароль</button>
        <hr>
{#        <span class="text"> Уже есть аккаунт? <a href="{% url 'account_login' %}">Войти</a></span>#}
    </form>

    <!-- jQuery !-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <!-- jQuery UI !-->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

    <script>
        function resetPassword(form) {
            event.preventDefault();

            $.ajax({ // create an AJAX call...
                data: $(form).serialize(), // get the form data
                type: $(form).attr('method'), // GET or POST
                url: $(form).attr('action'), // the file to call
                success: function (response) { // on success..
                    document.getElementById("text-info").style.display = 'none';
                    if (response === 'success') {
                        window.location.replace('/accounts/login');
                    }
                    else {
                        $('#errors').html(response);
                    }

                    console.log(response.text); // update the DIV

                },
            });
            return false;
        }
    </script>
{% endblock %}
