{#{% extends 'landing/base.html' %}#}
{#{% load static %}#}
{#{% block content %}#}
{##}


{##}
{#<button onclick="newAddressForm()" id="btn_add_address">Add address</button>#}
{#<form action="{% url 'addresses' %}" style="display: none" id="new_address_form" method="post">#}
{#    {% csrf_token %}#}
{##}
{#    <input type="text" name="type" value="add" style="display: none">#}
{#    <input type="text" placeholder="адрес" name="address_name">#}
{#    <input type="text" placeholder="номер дома" name="address_number_house">#}
{#    <input type="number" placeholder="кв" name="address_number_apartment">#}
{#    <input type="submit">#}
{#<button onclick="newAddressForm()" type="button">cancel</button>#}
{#</form>#}
{##}
{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>#}
{##}
{##}
{#<script>#}
{#    function myFunct(form) { // catch the form's submit event#}
{#        event.preventDefault();#}
{#        $.ajax({ // create an AJAX call...#}
{#            data: $(form).serialize(), // get the form data#}
{#            type: $(form).attr('method'), // GET or POST#}
{#            url: $(form).attr('action'), // the file to call#}
{#            success: function (response) { // on success..#}
{#                $('#response').html(response);#}
{#                console.log(response); // update the DIV#}
{#            },#}
{#        });#}
{#        return false;#}
{#    }#}
{#</script>#}
{#<script>#}
{#    function editAddress(id) {#}
{#        addressesList = document.getElementById('addresses_list');#}
{#        addressForm = document.getElementById('form_edit_address' + id);#}
{#        btn = document.getElementById('btn_add_address');#}
{#        if (addressForm.style.display == 'none') {#}
{#            addressesList.style.display = 'none';#}
{#            addressForm.style.display = 'block';#}
{#                btn.style.display = 'none';#}
{#        } else {#}
{#            addressForm.style.display = 'none';#}
{#            addressesList.style.display = 'block';#}
{#                btn.style.display = 'block';#}
{#        }#}
{##}
{#    }#}
{##}
{#    function newAddressForm() {#}
{#        addressForm = document.getElementById('new_address_form');#}
{#        btn = document.getElementById('btn_add_address');#}
{#        addressesList = document.getElementById('addresses_list');#}
{#        if (addressForm.style.display == 'none') {#}
{#            addressForm.style.display = 'block';#}
{#            btn.style.display = 'none';#}
{#            addressesList.style.display = 'none';#}
{#        } else {#}
{#            addressForm.style.display = 'none';#}
{#            btn.style.display = 'block';#}
{#            addressesList.style.display = 'block';#}
{#        }#}
{#    }#}
{#</script>#}
{#{% endblock %}#}

{% extends 'landing/base.html' %}
{% load static %}
{% load template_filters %}
{% block content %}
    <div class="profbody">
        <div class="p-body" style="display: inline-flex; margin-left: 10%;">
            <div class="p-panel">
                <h4>Мой аккаунт</h4>
                <div class="panel1" style="margin-left: 5%;">
                    <a href="{% url 'profile' %}"><p>Информация о
                        аккаунте</p></a>
                    <a href="{% url 'wishlist' %}"><p>
                        Избранное</p></a>
                    <a href="{% url 'addresses' %}"><p style="border-bottom: 4px solid; border-color: #FB0;">Мои
                        адреса</p></a>
                    <a href="{% url 'orders' %}"><p>История заказов</p></a>
                    {#                    <a href="promo.html"><p>Ввести промо-код</p></a>#}
                    <a href="{% url 'help' %}"><p>Связь с тех.службой</p></a>
                </div>
            </div>
            <div class="p-form adr-list">
                <div id="response"></div>
                <div class="pf-1">
                    {#                    <h5>Дом:</h5>#}
                    <div id="addresses_list">
                        {% for address in request.user.address.all %}
                            <div>
                                <div style="display: inline-flex;">
                                    <input type="text" class="homeadr"
                                           value="{{ address.address_name }} {{ address.number_house }}, кв{{ address.number_apartment }}"
                                           disabled>
                                    <button onclick="editAddress({{ address.id }})" class="adr-edit"> Изменить</button>
                                    <form action="{% url 'addresses' %}" method="post">
                                        {% csrf_token %}
                                        <input type="text" name="type" value="delete" style="display: none">
                                        <input type="text" name="address_id" value="{{ address.id }}"
                                               style="display:none;">
                                        <button type="submit" class="adr-edit">Удалить</button>
                                    </form>
                                </div>

                            </div>

                            <br>
                        {% endfor %}
                    </div>

                    {% for address in request.user.address.all %}
                        <form action="{% url 'addresses' %}" style="display: none"
                              id="form_edit_address{{ address.id }}" method="post">
                            {% csrf_token %}
                            <div style="display: inline-flex">
                                <input type="text" value="{{ address.id }}" style="display: none" name="address_id">
                                <input type="text" name="type" value="edit" style="display: none">
                                <input type="text" class="homeadr" placeholder="адрес"
                                       value="{{ address.address_name }}"
                                       name="address_name">

                                <input type="text" class="homeadr" placeholder="номер дома"
                                       value="{{ address.number_house }}"
                                       name="address_number_house" style="margin-left: 5px !important;">

                                <input type="number" class="homeadr" placeholder="кв"
                                       value="{{ address.number_apartment }}"
                                       name="address_number_apartment" style="margin-left: 5px !important;">
                            </div>
                            <br>
                            <br>
                            <button type="submit" class="adr-edit" name="save" value="save">Сохранить</button>
                            <button onclick="editAddress()" class="adr-edit">Отмена</button>

                        </form>

                    {% endfor %}

                    <div class="addloc" style="display: none;">
                        <input type="text" class="homeadr"> <br>
                        <button class="adr-edit" style="margin-left: 7%; margin-top: 2%;">Добавить</button>
                        <button class="adr-edit">Указать на карте</button>
                    </div>

                    <button class="adr-edit other" id="btn_add_address">Добавить другой адрес</button>
                </div>
            </div>

        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <script>
        function myFunct(form) { // catch the form's submit event
            event.preventDefault();
            $.ajax({ // create an AJAX call...
                data: $(form).serialize(), // get the form data
                type: $(form).attr('method'), // GET or POST
                url: $(form).attr('action'), // the file to call
                success: function (response) { // on success..
                    $('#response').html(response);
                    console.log(response); // update the DIV
                },
            });
            return false;
        }
    </script>
    <script>
        function editAddress(id) {
            addressesList = document.getElementById('addresses_list');
            addressForm = document.getElementById('form_edit_address' + id);
            btn = document.getElementById('btn_add_address');
            if (addressForm.style.display == 'none') {
                addressesList.style.display = 'none';
                addressForm.style.display = 'block';
                btn.style.display = 'none';
            } else {
                addressForm.style.display = 'none';
                addressesList.style.display = 'block';
                btn.style.display = 'block';
            }

        }

        function newAddressForm() {
            addressForm = document.getElementById('new_address_form');
            btn = document.getElementById('btn_add_address');
            addressesList = document.getElementById('addresses_list');
            if (addressForm.style.display == 'none') {
                addressForm.style.display = 'block';
                btn.style.display = 'none';
                addressesList.style.display = 'none';
            } else {
                addressForm.style.display = 'none';
                btn.style.display = 'block';
                addressesList.style.display = 'block';
            }
        }
    </script>
{% endblock %}