{% if products|length > 0 %}


    {% for product in products %}
        <div class="pos">
            <div class="pos-body">
                <div class="pos-info">
                    <h5 class="name">
                        <a href="{% url 'cart_add' product.id %}"
                           style="text-decoration: none; color: black"><i>+</i></a> {{ product.name }}</h5>
                    <p class="info1">{{ product.description }}</p>
                    <p class="price">{{ product.price }}₸</p>
                </div>
                <div class="pos-img">
                    <img src="{{ product.image.url }}" alt="">
                </div>
            </div>
        </div>

    {% endfor %}
{% else %}
    <div class="pos">
        <div class="pos-info">
            <h5 class="name">
                Извините, мы не нашли ничего по запросу "{{ query }}"
            </h5>

        </div>
    </div>
{% endif %}