{% load cart_tag %}

Total Length :: {{ items|length }}
<br>
SUM: {{ total_price }}
<br><br>
Cart Detail:

{#{% for key,value in request.session.cart.items %}#}
{% for value in items %}
    Name: {{ value.name }}
    <br>
    Price: {{ value.price }}
    <br>
    Quantity: {{ value.quantity }}
    <br>
{#    <img src="{{ value.image }}" alt="" height="200px">#}
{#    <br>#}
    Total {{ value.price|multiply:value.quantity }}
    <br>
    <br>

{% endfor %}

<form action="{% url 'checkout' slug %}">
    <input type="text" value="{{ request.session.cart }}" style="display:none;" name="checkout">
    <input type="submit">
</form>
