{% extends 'landing/base.html' %}
{% load static %}
{% block content %}
    <div class="profbody">
        <div class="p-body" style="display: inline-flex; margin-left: 10%;">
            <div class="p-panel">
                <h4>Мой аккаунт</h4>
                <div class="panel1" style="margin-left: 5%;">
                    <a href="{% url 'profile' %}"><p>Информация о
                        аккаунте</p></a>
                    <a href="{% url 'wishlist' %}"><p>Избранное</p></a>
                    <a href="{% url 'addresses' %}"><p>Мои адреса</p></a>
                    <a href="{% url 'orders' %}"><p>История
                        заказов</p></a>
                    {#                    <a href="promo.html"><p>Ввести промо-код</p></a>#}
                    <a href="{% url 'help' %}"><p style="border-bottom: 4px solid; border-color: #FB0;">Связь с
                        тех.службой</p></a>
                </div>
            </div>

            <div class="p-form hist">
                <div class="pf-1">
                    <h5>Связь с тех. поддержкой</h5>
                    <br>
                    <textarea rows="3" maxlength="400" placeholder="Здравствуйте, уважаемый пользователь! Пожалуйста опишите проблему и мы поможем ее решить!" class="comment" style="resize: none; width: 450px;" autocomplete="off"></textarea>
                    <button class="adr-edit" style="width: 72.5%; ">Отправить</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}