{% extends 'landing/base.html' %}
{% load static %}
{% block logo %}
    <a href="{% url 'home' %}">
        <div class="s-logo1">
            <img src="{% static 'images/logo4.png' %}" alt="">
        </div>
    </a>
{% endblock %}
{% block content %}

    <div class="prodhead">
        <div class="phbody">
            <img src="{% static 'images/kfc2.jpg' %}" alt="">
        </div>
        <div class="phlogo">
            <img src="{% static 'images/KFC_logo.png' %}" alt="">
        </div>
        <div class="phinfo">
            <h4>KFC Dostyk Plaza</h4>
            <div class="rate" style="display: inline-flex;">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-half-o" aria-hidden="true"></i>
            </div>
            <p>г.Алматы, пр. Достык 111, ТРЦ "Dostyk Plaza"</p>
            <p>Бесплатная доставка | Минимальный заказ от: 1500тг.</p>
            <p>Среднее время приготовления: 15 минут</p>
        </div>
        <div class="izbr1">
            <button class="izbr">
                Добавить в избранное
            </button>
            <br>
            <br>
            <button class="cart">
                Корзина
            </button>
        </div>
    </div>

    <div class="prodlist">
        <div class="plbody">
            <input type="search" class="prodsrch" placeholder="Поиск по меню">
            <h4 style="padding-top: 10px;">Выгодные предложения</h4>

            <div class="pos">
                <div class="pos-body">
                    <div class="pos-info">
                        <h5 class="name"><i>+</i> Сандерс Баскет "Комбо"</h5>
                        <p class="info1">Pepsi 500 мл, средний фри, сырный соус</p>
                        <p class="price">2 000 ₸</p>
                    </div>
                    <div class="pos-img">
                        <img src="static/images/banners/1.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="pos">
                <div class="pos-body">
                    <div class="pos-info">
                        <h5 class="name"><i>+</i> Сандерс Баскет "Комбо"</h5>
                        <p class="info1">Pepsi 500 мл, средний фри, сырный соус</p>
                        <p class="price">2 000 ₸</p>
                    </div>
                    <div class="pos-img">
                        <img src="static/images/banners/1.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="pos">
                <div class="pos-body">
                    <div class="pos-info">
                        <h5 class="name"><i>+</i> Сандерс Баскет "Комбо"</h5>
                        <p class="info1">Pepsi 500 мл, средний фри, сырный соус</p>
                        <p class="price">2 000 ₸</p>
                    </div>
                    <div class="pos-img">
                        <img src="static/images/banners/1.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="pos">
                <div class="pos-body">
                    <div class="pos-info">
                        <h5 class="name"><i>+</i> Сандерс Баскет "Комбо"</h5>
                        <p class="info1">Pepsi 500 мл, средний фри, сырный соус</p>
                        <p class="price">2 000 ₸</p>
                    </div>
                    <div class="pos-img">
                        <img src="static/images/banners/1.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="pos">
                <div class="pos-body">
                    <div class="pos-info">
                        <h5 class="name"><i>+</i> Сандерс Баскет "Комбо"</h5>
                        <p class="info1">Pepsi 500 мл, средний фри, сырный соус</p>
                        <p class="price">2 000 ₸</p>
                    </div>
                    <div class="pos-img">
                        <img src="static/images/banners/1.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="pos">
                <div class="pos-body">
                    <div class="pos-info">
                        <h5 class="name"><i>+</i> Сандерс Баскет "Комбо"</h5>
                        <p class="info1">Pepsi 500 мл, средний фри, сырный соус</p>
                        <p class="price">2 000 ₸</p>
                    </div>
                    <div class="pos-img">
                        <img src="static/images/banners/1.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="pos">
                <div class="pos-body">
                    <div class="pos-info">
                        <h5 class="name"><i>+</i> Сандерс Баскет "Комбо"</h5>
                        <p class="info1">Pepsi 500 мл, средний фри, сырный соус</p>
                        <p class="price">2 000 ₸</p>
                    </div>
                    <div class="pos-img">
                        <img src="static/images/banners/1.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="pos">
                <div class="pos-body">
                    <div class="pos-info">
                        <h5 class="name"><i>+</i> Сандерс Баскет "Комбо"</h5>
                        <p class="info1">Pepsi 500 мл, средний фри, сырный соус</p>
                        <p class="price">2 000 ₸</p>
                    </div>
                    <div class="pos-img">
                        <img src="static/images/banners/1.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="orderbox">
            <h5 style="padding: 10px; margin-left: 2%;">Доставка:</h5>
            <div class="obbody">
                <select aria-label="Select order date"
                        class="ord_sel"
                        name="OrderTimeSelector__Day"
                        id="OrderTimeSelector__Day">
                    <option value="Wed 07/08">Сегодня</option>
                    <option value="Thu 07/09">Завтра</option>
                    <option value="Fri 07/10">Через два дня</option>
                    <option value="Sat 07/11">Через три дня</option>
                </select>

                <select aria-label="Select order date"
                        class="ord_sel"
                        name="OrderTimeSelector__Day"
                        id="OrderTimeSelector__Day">
                    <option value="Wed 07/08">Сейчас</option>
                    <option value="Thu 07/09">Через час</option>
                    <option value="Fri 07/10">Через два часа</option>
                    <option value="Sat 07/11">Через три часа</option>
                </select>
                <div class="obbtns">
                    <input type="search" class="obadres" placeholder="Введите адрес">
                    <br>
                    <button class="mappick">Указать на карте</button>
                </div>
            </div>

            <h5 style="padding: 10px; margin-left: 2%;">Ваша корзина</h5>

            <div class="bag">
                <h5 style="color: #c4c4c4;">KFC Dostyk Plaza:</h5>
                <div class="y_ord">
                    <p>Сандерс баскет "Комбо"</p>
                    <p style="margin-left: 5px;">x 2 =</p> <h4 style="margin-left: 1%; margin-top: -4px;">4000 тг.</h4>
                </div>
                <div class="y_ord">
                    <p>Доставка:</p>
                    <p style="margin-left: 1%; font-weight: bold;">Бесплатно</p>
                </div>
                <a href="order.html" style="text-decoration: none; color: #000;">
                    <div class="go-ord">
                        <p style="background: #FB0; font-weight: bold; font-size: 18px; padding: 3px; border-radius: 3px 0 0 3px;">
                            Перейти к оплате</p>
                        <p style="background: #666; color: #FB0; font-weight: bold; font-size: 18px; padding: 3px; border-radius: 0 3px 3px 0;">
                            4000 тг.</p>
                    </div>
                </a>

            </div>
        </div>
    </div>

    <div class="obmob obmob1">
        <div style="width: 80%; display: inline-flex;">
            <p>1 позиция</p>
            <p>на сумму:</p>
            <p style="font-weight: bold;">4000 тг.</p>
        </div>
        <div style="width: 20%;">
            <a href="order.html" style="width: 100%;">
                <button class="ord-mob">
                    Заказать
                </button>
            </a>
        </div>
    </div>

{% endblock %}
