{% extends 'landing/base.html' %}
{% load static %}
{% load cart_tag %}
{% block logo %}
    <a href="{% url 'home' %}">
        <div class="s-logo1">
            <img src="{% static 'images/logo4.png' %}" alt="">
        </div>
    </a>
{% endblock %}
{% block content %}

    <div class="prodhead">
        <div class="phbody">
            <img src="{% static 'images/kfc2.jpg' %}" alt="">
        </div>
        <div class="phlogo">
            <img src="{{ store.image.url }}" alt="">
        </div>
        <div class="phinfo">
            <h4>{{ store.name }}</h4>
            <div class="rate" style="display: inline-flex;">
                {% if store.average_rating == 1 %}
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"
                       style="color: #FFBB00"></i>
                    <i class="fa fa-star-o" aria-hidden="true"
                       style="color: #FFBB00"></i>
                    <i class="fa fa-star-o" aria-hidden="true"
                       style="color: #FFBB00"></i>
                    <i class="fa fa-star-o" aria-hidden="true"
                       style="color: #FFBB00"></i>
                {% elif store.average_rating == 2 %}
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"
                       style="color: #FFBB00"></i>
                    <i class="fa fa-star-o" aria-hidden="true"
                       style="color: #FFBB00"></i>
                    <i class="fa fa-star-o" aria-hidden="true"
                       style="color: #FFBB00"></i>
                {% elif store.average_rating == 3 %}
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"
                       style="color: #FFBB00"></i>
                    <i class="fa fa-star-o" aria-hidden="true"
                       style="color: #FFBB00"></i>
                {% elif store.average_rating == 4 %}
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"
                       style="color: #FFBB00"></i>
                {% elif store.average_rating == 5 %}
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                {% elif store.average_rating == 0 %}
                    <i class="fa fa-star-o" aria-hidden="true"
                       style="color: #FFBB00"></i>
                    <i class="fa fa-star-o" aria-hidden="true"
                       style="color: #FFBB00"></i>
                    <i class="fa fa-star-o" aria-hidden="true"
                       style="color: #FFBB00"></i>
                    <i class="fa fa-star-o" aria-hidden="true"
                       style="color: #FFBB00"></i>
                    <i class="fa fa-star-o" aria-hidden="true"
                       style="color: #FFBB00"></i>
                {% endif %}
            </div>
            <p>{{ store.address }}</p>
            <p>Бесплатная доставка | Минимальный заказ от: 1500тг.</p>
            <p>Среднее время приготовления: 15 минут</p>
        </div>
        <div class="izbr1">
            <a href="{% url 'add_wishlist' %}?store_id={{ store.id }}" class="btn btn-secondary "
               style="width: 200px; border: 0; border-radius: 0; padding: 10px">Добавить в избранное</a>
            {#            <button class="izbr">#}
            {#                Добавить в избранное#}
            {#            </button>#}
            <br>
            <br>
            <a type="button" href="{% url 'cart_detail' store.slug %}" class="btn btn-secondary "
               style="width: 200px; border: 0; border-radius: 0; padding: 10px">
                Корзина
            </a>

            {#            <button class="cart">#}
            {#                Корзина#}
            {#            </button>#}
        </div>
    </div>
    <br>

    <div class="prodlist">
        <div class="plbody">
            <input type="search" class="prodsrch" placeholder="Поиск по меню">
            <h4 style="padding-top: 10px;">Выгодные предложения</h4>
            {% for product in products %}
                <div class="pos">
                    <div class="pos-body">
                        <div class="pos-info">
                            <h5 class="name">
                                <a href="{% url 'cart_add' product.id %}"
                                   style="text-decoration: none; color: black"><i>+</i></a> {{ product.name }}</h5>
                            <p class="info1">{{ product.description }}</p>
                            <p class="price">{{ product.price }}₸</p>
                        </div>
                        <div class="pos-img">
                            <img src="{{ product.image.url }}" alt="">
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
        <div class="orderbox">
{#            <h5 style="padding: 10px; margin-left: 2%;" class="mob-cart">Доставка:</h5>#}
{#            <div class="obbody">#}
{#                <select aria-label="Select order date"#}
{#                        class="ord_sel"#}
{#                        name="OrderTimeSelector__Day"#}
{#                        id="OrderTimeSelector__Day">#}
{#                    <option value="Wed 07/08">Сегодня</option>#}
{#                    <option value="Thu 07/09">Завтра</option>#}
{#                    <option value="Fri 07/10">Через два дня</option>#}
{#                    <option value="Sat 07/11">Через три дня</option>#}
{#                </select>#}
{##}
{#                <select aria-label="Select order date"#}
{#                        class="ord_sel"#}
{#                        name="OrderTimeSelector__Day"#}
{#                        id="OrderTimeSelector__Day">#}
{#                    <option value="Wed 07/08">Сейчас</option>#}
{#                    <option value="Thu 07/09">Через час</option>#}
{#                    <option value="Fri 07/10">Через два часа</option>#}
{#                    <option value="Sat 07/11">Через три часа</option>#}
{#                </select>#}
{#                <div class="obbtns">#}
{#                    <input type="search" class="obadres" placeholder="Введите адрес">#}
{#                    <br>#}
{#                    <button class="mappick">Указать на карте</button>#}
{#                </div>#}
{#            </div>#}

            <h5 style="padding: 10px; margin-left: 2%;" class="mob-cart">Ваша корзина</h5>

            <div class="bag">
                <h5 style="color: #c4c4c4;" class="mob-cart">{{ store.name }}</h5>
                {% for item in items %}
                    <div class="y_ord">
                        <p>{{ item.name }}</p>
                        <p style="margin-left: 5px;">x {{ item.quantity }} =</p> <h4 style="margin-left: 1%; margin-top: -4px;">{{ item.price|multiply:item.quantity }}тг.</h4>
                    </div>
                {% endfor %}
                <div class="y_ord">
                    <p>Доставка:</p>
                    <p style="margin-left: 1%; font-weight: bold;">Бесплатно</p>
                </div>
                <a href="{% url 'cart_detail' store.slug %}" style="text-decoration: none; color: #000;">
                    <div class="go-ord">
                        <p style="background: #FB0; font-weight: bold; font-size: 18px; padding: 3px; border-radius: 3px 0 0 3px;">
                            Перейти к оплате</p>
                        <p style="background: #666; color: #FB0; font-weight: bold; font-size: 18px; padding: 3px; border-radius: 0 3px 3px 0;">
                            {{total_price}} тг.</p>
                    </div>
                </a>

            </div>
        </div>
    </div>

{#    <div class="obmob obmob1" style="display: none">#}
{#        <div style="width: 80%; display: inline-flex;">#}
{#            <p>1 позиция</p>#}
{#            <p>на сумму:</p>#}
{#            <p style="font-weight: bold;">4000 тг.</p>#}
{#        </div>#}
{#        <div style="width: 20%;">#}
{#            <a href="order.html" style="width: 100%;">#}
{#                <button class="ord-mob">#}
{#                    Заказать#}
{#                </button>#}
{#            </a>#}
{#        </div>#}
{#    </div>#}

{% endblock %}
